#poll= render 'shared/poll', poll: @poll

:javascript
  $(function() {
    window.pollsRouter = new BackboneHackaton.Routers.PollsRouter({polls: #{PollPresenter.to_json(@polls).html_safe}});
    Backbone.history.start({pushState: true} );
  });
